/*
 * Colors
 */

// Name That Color: http://chir.ag/projects/name-that-color/
$dusty_gray: #969696;
$fun_blue: #2259ab;
$gallery: #eee;
$mine_shaft: #333;
$perano: #aecbf3;
$periwinkle_gray: #b5c9e2;
$salomie: #ffe382;
$seashell: #f1f1f1;
$white: #fff;

$color_c1: $fun_blue;
$color_c2: $fun_blue;
$color_c3: $perano;
$color_c4: #e2f0f9;

// Naming variables modularly is more sustainable.
// http://webdesign.tutsplus.com/articles/quick-tip-name-your-sass-variables-modularly--webdesign-13364
$color_background_dark: $mine_shaft;
$color_background_light: $seashell;
$color_background_lightest: $white;
$color_background_link_hover: $fun_blue;
$color_background_notice: $salomie;
$color_background_pager_current: $fun_blue;

$color_border_light: $perano;

$color_button_background: $fun_blue;

$color_heading_colored: $fun_blue;
$color_heading_text: $mine_shaft;

$color_link_lightest: $white;

$color_menu_block_active: $mine_shaft;

$color_quicktab_active: $mine_shaft;

$color_text_dark: $mine_shaft;
$color_text_lightest: $white;

$color_text_shadow_lightest: $white;
