// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

button, .button {
  background-color: $color_button_background;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  &:hover {
    background-color: $color_button_background;
  }
}
