/*
 * Search
 */

// This TODO copied from librarysite
// TODO: clean up this; what is .large-5?
.block-quicktabs-search-our {
  margin-top: 55px;  // LibrarySite Edit
  @media all and (max-width: $topbar-breakpoint) {
    .large-5,
    .large-4 & {
      margin-top: 1em;
    }
  }
}

#quicktabs-search_our {
  .quicktabs-tabs {
    margin-bottom:0;
    text-align: right;

    li {
      background-color: rgba(255, 255, 255, 0.75);
      border: 1px solid $color_c3;
      border-bottom: 0;
      font-size: 0.8em;
      font-weight: bold;
      margin: 0 0 0 -4px;
      padding:0.25em 0.75em;
      text-transform: uppercase;

      &.active {
        padding-top: 0.75em;
      }

      a {
        color: $color_quicktab_active;

        &:focus,
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .quicktabs_main {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid $color_c3;
    border-bottom: 0;
    overflow: auto;
    padding: 0 0.75em;

    input[type="text"] {
      background: url(../images/iconsprite.png) -5px -67px no-repeat;
      background-color: rgba(255, 255, 255, 1);
      float: left;
      padding-left: 30px;
      width: 75%;
    }

    input[type="submit"],
    button {
      float: right;
      text-transform: uppercase;
      width: 20%;
      padding: 0;
      background: $color_c1;
      color: $white;
    }
  }

  #islandora-solr-simple-search-form {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

#islandora-solr-simple-search-form {
  border: 1px solid $color_c3;
  border-bottom: 0;
  margin: 0;
  overflow: auto;
  padding: 1em;
  @media all and (max-width: $topbar-breakpoint) {
    .large-5,
    .large-4 & {
      margin-top: 1em;
    }
  }
  .form-text {
    background: url(../images/iconsprite.png) -5px -65px no-repeat;
    float: left;
    margin: 0;
    padding-left: 2em;
    width: 68%;
  }
  .form-submit {
    float: right;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 27%;
  }
}

//// Search Results ////
.islandora-solr-content {
  @extend %islandora-grid-display-margin-bottom;
}
.islandora-solr-search-results {
  .solr-grid-field {
    @extend %islandora-grid-display-columns-one-two;
    @extend %islandora-grid-display-columns-three;
  }
  .solr-grid-thumb {
    @extend %islandora-grid-display-thumb;
  }
  .solr-grid-caption {
    @extend %islandora-grid-display-caption;
  }
}

//// Search Facets ////
%islandora-facet-checkbox {
  font-size: 120%;
}
%islandora-facet-list {
  list-style: none;
  padding-left: 0.5em;
  li {
    margin-left: 0;
  }
}
.block-islandora-solr-current-query {
  .islandora-solr-query-wrap {
    .islandora-solr-query-list {
      @extend %islandora-facet-list;
    }
  }
  .islandora-solr-filter-wrap {
    .islandora-solr-filter-list {
      @extend %islandora-facet-list;
    }
  }
}
.remove-query {
  @extend %islandora-facet-checkbox;
}
.remove-filter {
  @extend %islandora-facet-checkbox;
}
.block-islandora-solr-basic-facets {
  .islandora-solr-facet-wrapper {
    .islandora-solr-facet {
      @extend %islandora-facet-list;
      a:before {
        @extend %islandora-facet-checkbox;
        // ballot box followed by space
        content: "\2610\0020";
      }
    }
  }
}
.plusminus {
  display: none;
}
