// Search Block

.search-block {
  bottom: 0;
  position: absolute;
  right: 0;
}
#search-block-form,
#islandora-solr-simple-search-form {
  border: 1px solid $color_c3;
  border-bottom: 0;
  margin: 0;
  overflow: auto;
  padding: 1em;
  @media all and (max-width: $topbar-breakpoint) {
    .large-5,
    .large-4 & {
      margin-top: 1em;
    }
  }
  .form-text {
    background: url(../images/iconsprite.png) -5px -65px no-repeat;
    float: left;
    margin: 0;
    padding-left: 2em;
    width: 68%;
  }
  .form-submit {
    float: right;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 27%;
  }
}
