// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//
@mixin stage {
  position: absolute;
  left: -999em;
}

@mixin unstage {
  position: static;
  left: auto;
}

@mixin color_background_link_hover {
  &:focus,
  &:hover {
    background-color: $color_background_link_hover;
    color: $color_link_lightest;    
  }
}

@mixin color_background_text_normal {
  background: $color_background_lightest;
  color: $color_text_dark;
}

@mixin link_hover {
  &:focus,
  &:hover {
    @include color_background_link_hover;
  }
}
